@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5044E5;
    /* --color-secondary: #0BB0D7; */
}

/* .text-stroke-primary {
  color: white;
  -webkit-text-stroke: 1.2px #445ce5;
}
@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5044E5;
  }
} */

.cl-pricingTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /* Centers items horizontally */
  align-items: center;   /* Centers items vertically */
  /* ... other grid properties ... */
  width: 100%;
  min-height: auto; /* optional: make all boxes same height */
  box-sizing: border-box;
}

.cl-drawerRoot{
  z-index: 10
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

